@font-face {
  font-family: "fipps";
  src: url("../fonts/Fipps-Regular.otf");
  font-weight: 300;
  font-style: "pixel";
}
@font-face {
  font-family: "pixellari";
  src: url("../fonts/Pixellari.ttf");
  font-weight: 300;
  font-style: "pixel";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "pixellari";
  color: black;
}

#util-nav {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 20;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
#util-nav div{
  padding: 20px;
}
#util-nav div,
#util-nav > div > span {
  color: white;
  text-shadow: 2px 2px 0px black;
}


#canvas {
  width: 100vw;
  height: 100vh;
  border: 1px dotted red;
}
